/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.ec-email-input-container {
    width: 100%;
    outline:none;
}

.ec-hint-label {
    color:red;
}


md-icon.mat-icon {
    height: inherit;
    width: inherit;
}
.material-icons {
    font-size:18px;
}
md-spinner.mat-spinner {
 width: 40px;
 height:40px;
}
input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.mat-chip-list {
    outline: none;
}